/* This file is for your main application css. */
@import "bootstrap";

#login{
  text-align: center;
}
#landing{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
#register{
  float: right;
  font-size: 23px
}
#status{
  color: green;
}
#notice{
  color: orange;
}
.input-err{
  color: red
}
#new-task{
  margin-top: 20px;
  margin-bottom: 20px;
}
.landing-link{
  text-decoration: none;
  color: white;
}
.landing-btn{
  display: block;
  height: 100px;
  width: 100%;
  margin: 20px;
  font-size: 50px;
  font-family: "Gill Sans", sans-serif;
  background-color: green;
  border: 0px;
  border-radius: 15px;
}
.welcome-p{
  padding-left: 20px;
}
.nav-user{
  color: white
}
.time-input{
  width: 50%;
  display: inline;
  margin-right: 20px;
}
.status{
  color: green
}
